body {
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgba(0, 0, 0, 0.03);
}


p {
    font-family: Roboto, Arial;
    margin-bottom: 0px;
    margin-top: 0px;
  }

a {
    text-decoration: none;
    color: black;
}